a,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td {  
	margin:0; 
	padding:0; 
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

body {
  font-size: 75%;
  background-image: -webkit-gradient(
  linear,
  left top,
  left bottom,
  color-stop(1, #2B4C6F),
  color-stop(1, #052443)
  );
  background-image: -o-linear-gradient(bottom, #2B4C6F 0%, #052443 100%);
  background-image: -moz-linear-gradient(bottom, #2B4C6F 0%, #052443 100%);
  background-image: -webkit-linear-gradient(bottom, #2B4C6F 0%, #052443 100%);
  background-image: -ms-linear-gradient(bottom, #2B4C6F 0%, #052443 100%);
  background-image: linear-gradient(to bottom, #2B4C6F 0%, #052443 100%);
  color: #fff;
  text-align: center;
}

html>body {
  font-size: 17px;
}

p {
  line-height: 1.5em;
  color: #fff;
  text-align: left;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #2B3E50;
    margin: 1em 0;
    padding: 0;
}

.title {
  font-family: Verdana, sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  text-transform: lowercase;
  text-align: left;
  margin-bottom: 50px;
}

.hidden {
  display: none
}


#app {
  display: inline-block;
  /*
  border:2px solid;
  border-radius:5px;
  background-color: grey;
  */
  width: 38.5em;
  overflow: hidden;
  padding-top: 150px;
  text-align: right;
  font-family: Verdana, Helvetica, Sans-serif;
  text-size: 1.5em;
  text-align: center;
}

#content {
  padding-left: 2em;
  white-space: nowrap;
}

#verify {
  padding-top: 1em;
  height: 2em;
  line-height: 2em;
  width: 100%;
  text-align: left;
}

#verify #e {
  padding-left: 2%;
  padding-right: 2%;
  width: 8%;
  background: #561D00;
  color: #FFC7AB;
  float: left;
}

#verify #msg {
  padding-left: 4%;
  width: 84%;
  background: #AB6039;
  color: #561D00;
  float: left;
}

#key_div {
  display: inline-block;
  position: relative;
  width: 100%;
}

#pass_div {
  display: inline-block;
  position: relative;
  left: 39em;
  width: 100%;
}

.form {
  text-transform: uppercase;
  font-size: 1.3em;
  text-align: left;
}

.form div {
  display: block;
	font-weight: bold;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  float: left;
}

.form .form_title {
  background: #476584;
  /*Fallback...*/
  color: fff;
  color: rgba(256,256,256,0.7);
  width: 70%;
  padding-left: 2%;
}

.form .form_button {
  width: 28%;
  background: #CBB466;
  color: #674F00;
  text-align: center;
  cursor: pointer;
}

.form_button:hover {
  background: #AA8F39;
}

.form_button:active {
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}

.form span {
	display: block;
  clear: both;
}

.input_field {
  border-style: none;
  font-size: 0.85em;
  letter-spacing: -0.025em;
  font-family: "Andale Mono", monospace;
  width: 100%;
  height: 2em;
}

#accounts {
  text-align: left;
  overflow: auto;

  /*Fallback color;*/
  background: #6B829A;

  /*For modern browsers with rgba support*/
  background: rgba(256,256,256,0.1);
  box-shadow: 1px 1px 3px rgba(152,152,152, 0.1);
}

#accounts p {
  padding-left: 1em;
  line-height: 2em;
  box-shadow: 1px 0px 3px rgba(152,152,152, 0.1);
}

.acct {
  cursor: pointer;
}

.acct:hover {
  font-weight: bold;
  /*Fall back*/
  background: #6B829A;
  background: rgba(256,256,256,0.2);
}

#acct_headline {
  padding-left: 1em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  font-weight: bold;
  font-size: 1.2em;
  background: #CBB466;
  color: #674F00;
  box-shadow: 1px 1px 2px rgba(80,80,80, 0.9);
}

#acct_div {
  text-align: left;
}

table {
  width: 100%;
  /*Fallback color*/
  background: #476584;
  background: rgba(256,256,256,0.1);
  border-collapse: collapse;
  padding
}

table td {
  border-bottom: 1px solid rgba(152,152,152, 0.05);
  vertical-align: middle;
  padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-right: 0.4em;
  padding-left: 1em;
}

table .td_body {
  background: rgb(71,94,119);
}

#copyleft {
  display: block;
  clear: both;
  font-family: Verdana, sans-serif;
  font-size: 0.6em;
  text-align: right;
  color: grey;
  padding-top: 2em;
}

